*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style:normal;
    text-decoration: none;
    list-style: none;
}

.form-control {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:#495057;
    background-color: #fff;
}

tr{
    border: 1px solid #bbc3cc;
    cursor: pointer;
}

tr:nth-child(odd){
    background-color: #dee2e6;
}

tr:hover {
    background: #bbc3cc;
}

form-control{
    max-width: 100px;
}

.custom-mark {
    width: 70px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.table_wrapper {
    width: 90%;
    display: block;
}







.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010
}

.inner_header {
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: pink;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat'
    font-size: 32px;
    font-weight: 800
}

.logo_container h1:hover {
    color: #FF548E;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a {
    text-decoration: none;
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
}

.navigation a li:hover {
    color: pink;
}


.avatar_link {
    margin-left: auto;
}

.avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.table_wrapper {
    overflow: hidden;
    margin: auto;
}

table{
    width: 100%;
}


.add__btn {
    flex: 1 1 auto;
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    border-radius: 10px;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);

    float: right;
}

.add__btn:hover {
  background-position: right center; /* change the direction of the change here */
}