<div class="modal" id="updateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Обновление записи</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form id="updateForm" action="/statements/update/{id}" method="POST">
                    <div class="form-group row">
                        <label for="statement_id" class="col-sm-2 col-form-label mt-2">ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="statement_id" id="statement_id" readonly>
                        </div>

                        <label for="group_id" class="col-sm-2 col-form-label mt-2">Группа(id)</label>
                        <div class="col-sm-10">
                            <select id="group_id" class="form-control" name="group_id">
                                {% for group in groups %}
                                <option value="{{ group.group_id }}">{{ group.group_id }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <label for="date" class="col-sm-2 col-form-label mt-2">Дата</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="date" id="date" required>
                        </div>

                        <label for="discipline_id" class="col-sm-2 col-form-label mt-2">Дисциплина</label>
                        <select id="discipline_id" class="form-control" name="discipline_id">
                            {% for discipline in disciplines %}
                            <option value="{{ discipline.discipline_id }}"> {{ discipline.name }} </option>
                            {% endfor %}
                        </select>


                        <label for="lesson_type" class="col-sm-2 col-form-label mt-2">Тип занятия</label>
                        <select id="lesson_type" class="form-control" name="lesson_type">
                            {% for type in types %}
                            <option value="{{ type.type }}">{{ type.type }}</option>
                            {% endfor %}
                        </select>

                        <label for="lesson_form" class="col-sm-2 col-form-label mt-2">Форма занятия</label>
                        <select id="lesson_form" class="form-control" name="lesson_form">
                            {% for form in forms %}
                            <option value="{{ form.type }}">{{ form.type }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-danger" id="deleteButton"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg></button>

                </form>
            </div>
        </div>
    </div>
</div>
