<div class="modal" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создание записи</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form id="createForm" action="/create-student" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label mt-2">Имя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="name" required>
                        </div>
                        <label for="surname" class="col-sm-2 col-form-label mt-2">Фамилия</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="surname" id="surname" required>
                        </div>
                        <label for="patronymic" class="col-sm-2 col-form-label mt-2">Отчество</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="patronymic" id="patronymic" required>
                        </div>
                        <label for="group_id" class="col-sm-2 col-form-label mt-2">Группа(id)</label>
                        <div class="col-sm-10">
                            <select id="group_id" class="form-control" name="group_id">
                                {% for group in groups %}
                                <option value="{{ group.group_id }}">{{ group.group_id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="phone_number" class="col-sm-2 col-form-label mt-2">Телефон</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="phone_number" id="phone_number" required>
                        </div>
                        <label for="email" class="col-sm-2 col-form-label mt-2">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="email" id="email" required>
                        </div>
                        <label for="birthday" class="col-sm-2 col-form-label mt-2">Др</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="birthday" id="birthday" required>
                        </div>
                        <label for="city" class="col-sm-2 col-form-label mt-2">Город</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="city" id="city" required>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>
