<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Списки преподавателей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color: #e3e8e6">
<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>FKNet</h1>
        </div>

        <ul class="navigation">
            <a href="/students/page=1">
                <li>База студентов</li>
            </a>
            <a href="/lecturers/page=1">
                <li>База преподавателей</li>
            </a>
            <a href="/statements">
                <li>Ведомости</li>
            </a>
            <a href="/user">
                <li class="avatar_link">
                    <div class="tooltip-container">
                        <img src="{{ url_for('static', filename=current_user.avatar) }}" class="avatar">
                        <span id='logout_span' class="tooltip-text">Выход</span>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>


<div class="table_wrapper">
    <div class="add__btn">
        <a class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/>
            </svg>
            Добавить преподавателя
        </a>
    </div>

    <div class="table-settings">
        <div class="filtered-container">
            <form method="get">
                <div class="filtered">
                    <div class="filtered-item">
                        <span class="filtered-span">Имя</span>
                        <input class="filtered-input" type="text" name="name"><br>
                    </div>
                    <div class="filtered-item">
                        <span class="filtered-span">Фамилия</span>
                        <input type="text" class="filtered-input" name="surname"><br>
                    </div>
                    <div class="filtered-item">
                        <span class="filtered-span">Отчество</span>
                        <input type="text" class="filtered-input" name="patronymic"><br>
                    </div>
                    <div class="filtered-item">
                        <span class="filtered-span">Телефон</span>
                        <input type="number" class="filtered-input" name="phone_number"><br>
                    </div>
                    <div class="filtered-item">
                        <span class="filtered-span">Email</span>
                        <input type="text" class="filtered-input" name="email"><br>
                    </div>
                    <div class="filtered-item">
                        <span class="filtered-span">Должность</span>
                        <input type="text" class="filtered-input" name="position"><br>
                    </div>
                </div>

                <div class="btn">
                    <input type="submit" value="Применить фильтры">
                </div>
            </form>
        </div>
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Номер телефона</th>
                <th>Email</th>
                <th>Должность</th>
            </tr>
            </thead>

            <tbody>
            {% for lecturer in lecturers %}
            <tr data-id='{{ lecturer.lecturer_id }}'
                data-name='{{ lecturer.name }}'
                data-surname='{{ lecturer.surname }}'
                data-patronymic='{{ lecturer.patronymic }}'
                data-phone_number="{{ lecturer.phone_number }}"
                data-email="{{ lecturer.email }}"
                data-position="{{ lecturer.position }}"
                class="lecturer-row">
                <td>{{lecturer.lecturer_id}}</td>
                <td>{{lecturer.surname}}</td>
                <td>{{lecturer.name}}</td>
                <td>{{lecturer.patronymic}}</td>
                <td>{{lecturer.phone_number}}</td>
                <td>{{lecturer.email}}</td>
                <td>{{lecturer.position}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        {% if has_prev %}
        <li class="page-item"><a class="page-link" href="/lecturers/page={{ page - 1 }}">&#8249;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&#8249;</span></li>
        {% endif %}

        {% if has_next %}
        <li class="page-item"><a class="page-link" href="/lecturers/page={{ page + 1 }}">&#8250;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&#8250;</span></li>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}
{% include 'lect-modal.html' %}

<script>
    $(document).ready(function() {
    $('.lecturer-row').click(function() {
        console.log("true")
        var lecturer_id = $(this).data('id');
        var name = $(this).data('name');
        var surname = $(this).data('surname');
        var patronymic = $(this).data('patronymic');
        var phone_number = $(this).data('phone_number');
        var email = $(this).data('email');
        var position = $(this).data('position');

        $('#lecturer_id').val(lecturer_id);
        $('#name').val(name);
        $('#surname').val(surname);
        $('#patronymic').val(patronymic);
        $('#phone_number').val(phone_number);
        $('#email').val(email);
        $('#position').val(position);

        $('#updateForm').attr('action', 'lecturers' + '/update/' + lecturer_id);
        $('#recordModal').modal('show');
    });

    $('#deleteButton').click(function() {
    var lecturer_id = $('#lecturer_id').val();
    if (confirm('Вы уверены, что хотите удалить эту запись?')) {
        $.ajax({
            url: '/lecturers/' + lecturer_id + '/delete',
            type: 'POST',
            success: function() {
                location.reload();
            },
            error: function(xhr) {
                if (xhr.status === 400) { // Предполагаем, что код 409 используется для ошибок ограничения внешнего ключа
                    alert('Невозможно удалить преподавателя, так как он является внешним ключом в другой записи.');
                } else {
                    alert('Произошла ошибка при удалении. Пожалуйста, попробуйте еще раз.');
                }
            }
        });
       }
    });


    const logoutSpan = document.getElementById("logout_span");
        if (logoutSpan) {
            logoutSpan.addEventListener("click", function (event) {
                event.preventDefault(); // Отменяем стандартное поведение ссылки
                window.location.href = "/logout"; // Переходим на страницу выхода
            });
        }


});
</script>

</body>
</html>