<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="/register" method="POST">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social"><i></i></a>
                <a href="#" class="social"><i></i></a>
                <a href="#" class="social"><i></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="text" name="login">
            <input type="password" name="password">
            <input type="password" name="password2">
            <input type="submit" value="Register">
        </form>
    </div>

    <div class="form-container sign-in-container">
        <form action="/login" method="POST">
            <h1>Вход в аккаунт</h1>
            <div class="social-container">
                <a href="#" class="social"><i></i></a>
                <a href="#" class="social"><i></i></a>
                <a href="#" class="social"><i></i></a>
            </div>
            <span>or use your account</span>
            <input type="text" name="login">
            <input type="password" name="password">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <div style="color: red; font-size: 12px;">{{ message }}</div>
            {% endfor %}
            {% endwith %}
            <a href="#">Забыли пароль?</a>
            <input type="submit" value="Вход">
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Снова здравствуй!</h1>
                <p>Чтобы продолжить работу, пожалуйста, войдите по своей почте.</p>
                <button class="ghost" id="signIn">Вход</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Привет, друг!</h1>
                <p>Если вы первый раз в системе <span class="bold">FKNet</span> Вам необходимо
                    зарегистрироваться. Внимание!
                    В логине необходимо указывать вашу почту, привязанную к студенту, пароль придумываете сами.</p>
                <button class="ghost" id="signUp">Регистрация</button>
            </div>
        </div>
    </div>
</div>

<!--{% include 'footer.html' %}-->


<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
      container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
      container.classList.remove("right-panel-active");
    });
</script>


<!--<form method="POST">-->
<!--    <div class="register-form-container">-->
<!--        <h1 class="form-title">-->
<!--            Вход в учебный аккаунт-->
<!--        </h1>-->
<!--        <tr>-->
<!--            <td>Login</td>-->
<!--            <td><input type="text" name="login"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Password</td>-->
<!--            <td><input type="password" name="password"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><a class="login_register_down" href="{{ url_for('register') }}">Регистрация</a></td>-->
<!--            <td><input type="submit" value="Вход"></td>-->
<!--        </tr>-->
<!--    </div>-->
<!--</form>-->


</body>
</html>