<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Списки ведомостей</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="static/scripts.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="inner_header">
        <div class="logo_container">
            <h1>FKNet</h1>
        </div>

        <ul class="navigation">
            <a href="/students/page=1">
                <li>База студентов</li>
            </a>
            <a href="/lecturers/page=1">
                <li>База преподавателей</li>
            </a>
            <a href="/statements">
                <li>Ведомости</li>
            </a>
            <a href="/user">
                <li class="avatar_link">
                    <div class="tooltip-container">
                        <img src="{{ url_for('static', filename=current_user.avatar) }}" class="avatar">
                        <span class="tooltip-text">Профиль</span>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</div>


<div class="table_wrapper">

    <div class="add__btn" id="createStatementButton">
        <a class="btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h240v80H200v560h560v-240h80v240q0 33-23.5 56.5T760-120H200Zm440-400v-120H520v-80h120v-120h80v120h120v80H720v120h-80Z"/>
            </svg>
            Создать занятие
        </a>
    </div>

    <div class="statement-table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Группа</th>
                <th>Дата</th>
                <th>Дисциплина</th>
                <th>Тип занятия</th>
                <th>Форма занятия</th>
            </tr>
            </thead>

            <tbody>
            {% for statement in statements %}
            <tr data-id='{{ statement.statement_id }}'
                data-group_id='{{ statement.group_id }}'
                data-date='{{ statement.date }}'
                data-discipline_id='{{ statement.discipline_id }}'
                data-lesson_type='{{ statement.lesson_type }}'
                data-lesson_form='{{ statement.lesson_form }}'
                class="statement-row">
                <td>{{statement.statement_id}}</td>
                <td>{{statement.group_id}}</td>
                <td>{{statement.date}}</td>
                <td>{{statement.discipline_id}}</td>
                <td>{{statement.lesson_type}}</td>
                <td>{{statement.lesson_form}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination-container">
        {% if has_prev %}
        <li class="page-item"><a class="page-link" href="/statements/page={{ page - 1 }}">&#8249;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&#8249;</span></li>
        {% endif %}

        {% if has_next %}
        <li class="page-item"><a class="page-link" href="/statements/page={{ page + 1 }}">&#8250;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&#8250;</span></li>
        {% endif %}
    </div>
</div>

{% include 'modal/statementUpdateModal.html' %}
{% include 'modal/statementCreateModal.html' %}
{% include 'footer.html' %}



<script>

    $(document).ready(function() {
      $('.statement-row').click(function() {

      var statement_id = $(this).data('id');
      var group_id = $(this).data('group_id');
      var date = $(this).data('date');
      var discipline_id = $(this).data('discipline_id');
      var lesson_type = $(this).data('lesson_type');
      var lesson_form = $(this).data('lesson_form');

      console.log(group_id)
      console.log(date)
      console.log(discipline_id)
      console.log(lesson_type)
      console.log(lesson_form)

      $('#statement_id').val(statement_id);
      $('#group_id').val(group_id);
      $('#date').val(date);
      $('#discipline_id').val(discipline_id);
      $('#lesson_type').val(lesson_type);
      $('#lesson_form').val(lesson_form);

      $('#updateForm').attr('action', 'statements' + '/update/' + statement_id); // Установка правильного URL
      $('#updateModal').modal('show');

  });

  $('#deleteButton').click(function() {
      var statement_id = $('#statement_id').val();
      if (confirm('Вы уверены, что хотите удалить эту запись?')) {
          $.post('/statements/' + statement_id + '/delete', function() {
              location.reload();
          });
      }
  });


  $('#createStatementButton').click(function() {

  $('#group_id').val(group_id);
  $('#date').val(date);
  $('#discipline_id').val(discipline_id);
  $('#lesson_type').val(lesson_type);
  $('#lesson_form').val(lesson_form);

  $('#createForm').attr('action', 'create-statement'); // Установка правильного URL
  $('#createModal').modal('show');

  });
});

</script>
</body>
</html>